<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ui_concrete -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="ui_concrete.presentation.Ui_concreteModelWizardID"
            name="%_UI_Ui_concreteModelWizard_label"
            class="ui_concrete.presentation.Ui_concreteModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Ui_concreteModelFile.gif">
         <description>%_UI_Ui_concreteModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ui_concrete -->
      <editor
            id="ui_concrete.presentation.Ui_concreteEditorID"
            name="%_UI_Ui_concreteEditor_label"
            icon="icons/full/obj16/Ui_concreteModelFile.gif"
            extensions="ui_concrete"
            class="ui_concrete.presentation.Ui_concreteEditor"
            contributorClass="ui_concrete.presentation.Ui_concreteActionBarContributor">
      </editor>
   </extension>
</plugin>
